name: Build & Test
on:
  push:
    branches:
      - develop
      - master
      - 'features/**'
    branches-ignore:
      - 'test*'
  pull_request:
    branches:
      - develop
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      BUILD_DIR_HOST: /tmp/build
      BUILD_DIR: /build
      SRC_DIR: /src
    steps:
    - name: Clone Repository
      uses: actions/checkout@v1
    - name: Check Environment
      run: |
        docker --version
        echo "USER: $USER ($UID:$GID)"
        echo "github workspace: $GITHUB_WORKSPACE"
        echo "host dir: $BUILD_DIR_HOST"
        echo "container build dir: $BUILD_DIR"
        echo "container src_dir: $SRC_DIR"
    - name: Create build dir
      run: | 
        mkdir -p $BUILD_DIR_HOST
        chmod o+w $BUILD_DIR_HOST
        touch $BUILD_DIR_HOST/created
        ls -la $BUILD_DIR_HOST
    - name: Pull docker container
      run: docker pull ruschi/devlinuxqtquick2:latest
      timeout-minutes: 5
    - name: Start Docker
      run: >
        docker run -itd -u $UID:$GID --privileged --name build_container
        -v$GITHUB_WORKSPACE:$SRC_DIR -v$BUILD_DIR_HOST:$BUILD_DIR
        ruschi/devlinuxqtquick2
    - name: Configure
      run: >
        docker exec build_container cmake
        -DCMAKE_BUILD_TYPE=Debug
        -DCMAKE_EXPORT_NO_PACKAGE_REGISTRY=On
        -H$SRC_DIR -B$BUILD_DIR
        -DBUILD_TESTS=On -DTEST_COVERAGE=On -DBUILD_GTEST_FROM_SRC=On
    - name: Build
      run: docker exec build_container cmake --build $BUILD_DIR --parallel
    - name: Run tests
      run: docker exec -w $BUILD_DIR build_container  bin/DigitalRooster_gtest
    - name: Upload test results
      if: failure()
      uses: actions/upload-artifact@v1
      with:
        name: tests.log
        path: /tmp/build/Digitalrooster_tests.log
    - name: Collect coverage
      run: >
        docker exec -w $BUILD_DIR build_container
        lcov --directory .
        --capture --output-file $BUILD_DIR/coverage.info
    - name: Prune 3rd party code from coverage info
      run: >
        docker exec -w $BUILD_DIR build_container
        lcov --remove $BUILD_DIR/coverage.info
        --output-file $BUILD_DIR/coverage.info
        "/usr/*" "*/GTestExternal/*" "*/__/*"
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: /tmp/build/coverage.info
